.movie-details-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.movie-details-container img {
    width: 300px;
    border-radius: 10px;
}

.movie-info {
    flex: 1;
}

.movie h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
.movie p {
    font-size: 20px;
    text-align: left;
    margin-bottom: 8px;
    color: white;
}

.showtimes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.showtimes-container .showtime {
    background-color: #44b669; /* Grøn baggrund som i eksemplet */
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    font-weight: bold;
}

#backToMovies {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}